.slider {
  // background-image: url(../../assets//img/bg.jpg);
  // background-position: center 56%;
  // background-repeat: no-repeat;
  // background-size: cover;
  // overflow: hidden;
  &__content {
    width: 100rem;
    margin: 0 auto;
    color: white;
    font-size: 1.8rem;
  }

  &__header {
    font-size: 3.5rem;
    width: 72.5rem;
    font-weight: bold;
    margin-top: 25px;
  }

  &__header--sub {
    font-size: 2rem;
    padding-top: 15px;
    font-weight: bold;
    padding-bottom: 30px;
  }

  &__btn {
    background-color: $color-primary;
    border: medium none;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 1.2rem;
    text-align: center;
    text-decoration: none;
    width: 25rem;
    transition: all 0.3s;
    margin-bottom: 7.5rem;

    &:hover {
      background-color: $color-primary-dark;
      text-decoration: none;
      color: #fff;
    }
  }
}

// BANNER

.ban {
  position: relative;
}

.ban__1 {
  & hr {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 24%;

    margin: 0;
    border-top: 1px solid #eee;
  }

  & h2 {
    padding-top: 5rem;
    font-weight: bold;
    color: #3a464b;
    font-size: 2.4em;
    text-align: center;
    padding-bottom: 2.5rem;
  }
}

.banner {
  &__icon {
    z-index: 2;
    top: -6%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    margin: 25px auto;
    width: 1000px;
    display: flex;
    justify-content: center;

    & a {
      display: inline-block;
      margin-left: 10px;
      margin-right: 15px;
      border-radius: 8px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 3px rgba(0, 0, 0, 0.5);
      height: 49px;
      transition: all ease-in 100ms;
    }

    &--playstore {
      position: relative;
      background: url(../../assets/img/badges.png) no-repeat;
      width: 150px;
      border-radius: 6px;
      height: 49px;
      background-position: -260px -10px;

      &:hover::after {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.1);
        display: block;
        content: "";
        border-radius: 6px;
      }
    }

    &--ios {
      position: relative;
      background: url(../../assets/img/badges.png) no-repeat;
      width: 150px;
      border-radius: 6px;
      height: 49px;
      background-position: -260px -200px;

      &:hover::after {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.1);
        display: block;
        content: "";
        border-radius: 6px;
      }
    }

    &--web {
      position: relative;
      background: url(../../assets/img/badges.png) no-repeat;
      width: 150px;
      border-radius: 6px;
      height: 49px;
      background-position: -260px -299px;

      &::after {
        transition: all 10s;
        background: rgba(255, 255, 255, 0);
      }

      &:hover::after {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.1);
        display: block;
        content: "";
        border-radius: 6px;
      }
    }
  }
  position: relative;

  width: 100rem;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

// banner item
.banner__item {
  perspective: 150rem;
  position: relative;
  height: 38rem;
  width: 28%;
  margin: 0 2rem;

  &__side {
    height: 34rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.15);

    &--front {
      background-color: white;
    }
    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
      }

      &-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
      }

      &-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
      }
    }
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    background-position: center center;
    height: 17rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730),
        url(../../assets/img/hh.jpg);
    }
    &--2 {
      background-image: linear-gradient(to right bottom, #0c2109, #28b485),
        url(../../assets/img/x.jpg);
    }
    &--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa),
        url(../../assets/img/hx.jpg);
    }
  }

  &__heading {
    font-size: 2rem;
    font-weight: bold;

    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }
  &__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba(255, 185, 0, 0.85),
        rgba(255, 119, 48, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.85),
        rgba(40, 180, 133, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba(41, 152, 255, 0.85),
        rgba(86, 67, 250, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;
    padding-top: 1rem;
    padding-bottom: 0;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li {
        color: #777;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
  &__cta {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }

  &__price-box {
    color: white;
    margin-bottom: 8rem;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 2.5rem;
    font-weight: 100;
  }

  &__btn {
    background-color: white;
    border: medium none;
    border-radius: 25px;
    color: #777;
    display: inline-block;
    font-weight: bold;
    font-size: 1.6rem;
    padding: 1.2rem;
    text-align: center;
    text-decoration: none;
    width: 19rem;
    transition: all 0.3s;
    margin-bottom: 7.5rem;

    &:hover {
      color: #777;
      text-decoration: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }
  }
}

// COURSE LIST

.courses {
  background: linear-gradient(180deg, $color-dark-light 70%, $color-dark 30%);
  padding: 5rem 10rem;
  padding-bottom: 3rem;

  @media only screen and (max-width: $bp-largest) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @media only screen and (max-width: $bp-large) {
    width: 100rem;
  }

  &__viewall {
    text-align: center;

    & a {
      font-weight: bold;
      font-size: 1.5rem;
      display: inline-block;
      padding-top: 3rem;
      color: #8bc34a;
      transition: all 0.3s;

      &:hover {
        color: #a8eb5c;
        text-decoration: underline;
      }
    }
  }

  &__content {
    margin: 0 auto;
    width: 100rem;

    @media only screen and (max-width: $bp-largest) {
      width: 100%;
    }
  }

  &__list {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
  }

  &__heading {
    font-weight: bold;
    color: #fff;
    font-size: 2.4em;
    text-align: center;
    padding-bottom: 1.5rem;
  }

  &__btn {
    position: absolute;
    top: 95px;
    left: 125px;
    background-color: #3a464b;
    border: medium none;
    border-radius: 25px;
    color: #8bc34a;
    display: inline-block;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 1.1rem;
    text-align: center;
    text-decoration: none;
    width: 9rem;
    transition: all 0.3s;
    margin-bottom: 7.5rem;

    @media only screen and (max-width: $bp-largest) {
      width: 7rem;
    }

    &:hover {
      color: $color-green;
      background-color: $color-dark-light;
      text-decoration: none;
    }
  }

  &__card {
    transition: all 0.3s;
    border: 1px solid rgba($color-dark-light, 0.5);
    transform: translateY(25px);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.45);
    border-radius: 3px;
    overflow: hidden;
    width: 230px;
    transition: all 0.3s;

    @media only screen and (max-width: $bp-largest) {
      width: 21rem;
    }

    &-content {
      padding: 2rem;
      color: black;
      position: relative;
      transition: all 0.3s;

      h4 {
        font-weight: bold;
        font-size: 1.7rem;
        overflow: hidden;
        -webkit-line-clamp: 2;
        height: 42px;
        width: 175px;
      }

      h5 {
        white-space: nowrap;
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      p {
        font-size: 1.4rem;
      }
    }

    &--img img {
      width: 230px;
      height: 130px;
      object-fit: cover;

      @media only screen and (max-width: $bp-largest) {
        width: 210px;
      }
    }

    &:hover {
      // box-shadow: 0 1px 3px rgba($color-primary-dark, 0.12),
      //   0 1px 3px rgba($color-dark, 0.45);

      color: $color-dark-light;
      background-color: $color-grey-hover;

      box-shadow: 0 2px 8px 2px rgba(20, 23, 28, 0.15);
    }
  }
}

// testimonial

.testimonials {
  margin: 5rem 0;
  height: 45rem;

  &__content {
    margin: 0 auto;
    width: 100rem;
    text-align: center;
    & p {
      font-size: 1.9rem;
    }

    & strong {
      font-size: 2.4rem;
      font-weight: bold;
    }
  }

  &__text {
    position: relative;
    border: 2px solid #e2e2e2;
    padding: 25px;
    height: 190px;
    transition: all 0.3s;

    &:hover {
      border-color: #24aa98;
      &::before {
        border-color: rgba(36, 170, 152, 0);
        border-top-color: #24aa98;
      }
    }

    &::after,
    &::before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      transition: all 0.3s;
    }

    &::before {
      border-color: rgba(226, 226, 226, 0);
      border-top-color: #e2e2e2;
      border-width: 18px;
      margin-left: -18px;
    }

    &::after {
      border-color: rgba(226, 226, 226, 0);
      border-top-color: #fff;
      border-width: 15px;
      margin-left: -15px;
    }

    & p {
      font-size: 1.5rem;
      text-align: left;
    }
  }

  &__feelback {
    width: 100rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    width: 30%;
    height: 20rem;
    position: relative;
  }

  &__info {
    margin-top: 25px;
    overflow: hidden;
    text-align: center;
    & img {
      border-radius: 25px;
      overflow: hidden;
      width: 50px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }

  &__user {
    font-weight: bold;
    font-size: 1.6rem;
    color: #383737;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }

  &__locate {
    color: #b4bbc2;
    font-size: 1.4em;
  }

  &__logo {
    display: flex;
    justify-content: space-between;

    width: 13rem;
    margin: 2rem auto;
  }
  svg {
    fill: $color-dark;
    pointer-events: all;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      fill: $color-primary;
    }
  }
}

// minimalist

.minimalist {
  background-color: #eaedf1;
  padding: 5rem 0;

  @media only screen and (max-width: $bp-large) {
    width: 100rem;
  }

  &__heading {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 2.6rem;
    color: #383737;
    padding-left: 5px;
    padding-right: 5px;
  }

  &__link {
    text-align: center;

    & a {
      font-weight: bold;
      color: #fff;
      border: none;
      text-decoration: none;
      width: 400px;
      border-radius: 30px;
      background-color: #1abc9c;
      padding: 15px;
      margin: 0 auto;
      display: block;
      font-size: 1.7rem;
      transition: all 0.3s;
      margin-top: 10px;

      &:hover {
        background-color: $color-primary-dark;
      }
    }
  }
}
